
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*The is the font text type and text color for the body section*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #022851;
}

/* style to the header*/

header {
    padding: 20px 35px;
    background-color: #ffBF00;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #022851;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #022851;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
   display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* This is the Footer area atributes */
footer {
    background:#ffBF00;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color:#022851;
    font-size: 30px;
    margin: o;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:#022851;
}

section{
    padding: 60px;
}

/*Hero style start*/
.hero{
    background-image: url(../images/me.jpeg);
    background-size: cover;
    height: 650px;
    position: relative;
   
}
/*hero style ends*/


/*hero form start*/

.hero-form{
    
    background-color: #ffBF00;
    border-color: #022851;
    border-style: solid;
    border-width: 2px;
    padding: 25px;
    width: 250px;
    position: absolute;
    bottom: 150px;
    right: 50px;
}

.hero--form h3{
    font-size: 24px;
    margin: 0;
}

.hero-form p{
    margin: 5px 0 15px 0;
}

.form-input{
    border: 1px solid #022851;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #022851;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form lable{
    margin: 0 5px;
}

.hero-form button {
    color:#ffBF00;
    background-color:#022851;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

